@import '//at.alicdn.com/t/font_890202_bm15l9edx97.css';

body{
	margin:0;
}
.header{
	position: fixed;
	bottom: 0px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content:space-around;
}
.header>span{
	width:50px;
	text-align: center;
	display: flex;
	flex-direction:column;
	justify-content:flex-end;
}
.header>span>b{
	font-size: 33px;
}
.header>span>a{
	font-size: 14px;
	text-decoration: none;
}

.app>h3{
	background: pink;
	height:40px;
	line-height: 40px;
	margin:0;
	text-align: center;
	color:white;
}

#container{
	position: absolute;
	left:0;
	top:40px;
	width:100%;
	height: 85%;
}


.read{
	position: absolute;
	height:86%;
	top:35px;
	z-index: -3;
	overflow: hidden;
	overflow-y:scroll
}
.read ul{
	padding:10px 10px;
}
.read ul li{
	width:100%;
	list-style-type: none;
	margin-bottom: 20px;
}
.read ul li img{
	width:100%;
	height:200px;
}


.Weather{
	height:85%;
	z-index: -3;
	overflow: hidden;
	overflow-y:scroll;
	position: absolute;
	left:2.5%;
	width:95%;
}
.Weather ul{
	border-radius: 10px;
	background:#DADADA;
	margin:0;
	padding:1px 10px;
	margin-bottom:10px;
}
.city{
	text-align:center;
}
.wea p:nth-child(1),.wea p:nth-child(2){
	display: flex;
	justify-content:space-between;
}

.on{
	background:pink;
}